html {
	font-size:13px;
}
.azbn7-admin {
	padding-top:51px;
}

.azbn7-admin .form-group label {
	display:block;
}







.azbn7-admin .azbn7-hidden {
	display:none !important;
	opacity:0 !important;
	visibility:hidden !important;
	width:0 !important;
	height:0 !important;
	font-size:0rem !important;
	margin:0 !important;
	padding:0 !important;
}

.azbn7-admin .item-edit-functions {
	font-size:1.25em;
	text-align:center;
}
.azbn7-admin .item-edit-functions a {
	margin:0 0.1em;
}

.azbn7-admin .item-base-functions {
	
}

.azbn7-admin .item-pos-range {
	padding:0;
}

.azbn7-admin .azbn7-select-entity .searched-entities-list .select-entity-delete {
	display:none;
}
.azbn7-admin .azbn7-select-entity .selected-entities-list .select-entity-add {
	display:none;
}